* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background-color: black;
}

p {
    margin: 0px;
}

.text-red {
    color: #FF401D;
}

.bg-red {
    background-color: #FF401D;
}

.cta-btn {
    background-color: #FF401D;
    color: white;
}

.cta-btn:hover {
    background-color: #cf3e24;
    color: white;
}